* {
    box-sizing: border-box
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-image: url("../Wews/graphics/back_light.png");
    background-repeat: repeat;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}

form {
    border: 3px solid #f1f1f1;
    box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, 0.28);
}

.container {
    padding: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

input[type=text],
input[type=password] {
    width: 500px;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
    border-radius: 5px;
    box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, 0.28);
}

input[type=text]:focus,
input[type=password]:focus {
    background-color: #ffffff;
    outline: none;
}


label {
    padding: 10px;
}

/* Overwrite default styles of hr */
hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
}

.imgcontainer {
    text-align: center;
}

.imgcontainer img {
    width: 150px;
}

/* Set a style for the submit/register button */
.registerbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 500px;
    opacity: 0.9;
    box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, 0.28);

}

.registerbtn:hover {
    opacity: 1;
}

/* Add a blue text color to links */
a {
    color: dodgerblue;
}

/* Set a grey background color and center the text of the "sign in" section */
.signin {
    background-color: #f1f1f1;
    text-align: center;
}

@media (max-width: 600px) {

    input[type=text],
    input[type=password] {
        width: 90%;
    }

    .registerbtn {
        width: 90%;
    }

    body {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }

}

@media (max-width: 1200px) {
    body {
        width: 95%;
        margin-left: auto;
        margin-right: auto;
    }
}
